{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}
{% block body %}
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Emoji</h1>
            <p class="lead">The service receives a string and returns its decorated emoji</p>
        </div>
        <form method="POST" action=return rez>
                  <div><label>Word: <input type="text" name="emoji"></label></div>
                  <div><label>Count: <input type="text" name="count"></label></div>
                  <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
