[Unit]
Description=flask_app
After=network.target
After=apache2.service

[Service]
Type=simple
WorkingDirectory=/var/www/flask_app

User=alex
Group=www-data

Environment="PATH=/var/www/flask_app/flask_app/venv/bin
ExecStart=/bin/env python3 /var/www/flask_app/flask_app/app.py
OOMScoreAdjust=-1000

#ExecStart=/usr/local/bin/bundle exec service -C /work/www/myunit/shared/config/service.rb --daemon
#ExecStop=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state stop
#ExecReload=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state restart
#TimeoutSec=300

[Install]
WantedBy=multi-user.target
