{% extends 'base.html' %}

{% block title %}
About
{% endblock %}
{% block body %}
    <div class="container">
        <h2>About this app</h2>
         This application uses the <mark>POST</mark> and <mark>GET</mark> methods.
         Receives a word at the input and repeats this word the specified number of times at the output and decorates it with emojis. &#128526<br>
         In the task, it was said that the application should decorate the line with my favorite emojis, but unfortunately the `Emoji 1.2` module does not support all emojis, so I chose a few that I liked that the module supports.<br>
         You can access the application as follows:<br>
         <mark>curl -XPOST -d'{"word":"flower", "count": 10}' http://your_server:8080/</mark>
         Or you can open the page in a web browser at <mark>http://your_server:8080 </mark> Of course, instead of <strong>your_server</strong>, you need to enter the address of the server where you installed my application &#x1f601 although if you are reading this text, then you did everything right. &#128077<br>
         Enjoy  &#128064    
    </div>
{% endblock %}
