{% extends 'base.html' %}

{% block title %}
Homework
{% endblock %}
{% block body %}
   <h1>Task 4</h1>
   <div class="container">
     <h2>Ansible assignment</h2>
     <h2>Create and deploy your own service</h2>
      <h3>The development stage:</h3>
        For the true enterprise grade system we will need Python3, Flask and emoji support.<br>
        Why on Earth would we create stuff that does not support emoji?!<br>

        * the service listens at least on port 80<br>
        * the service accepts GET and POST methods<br>
        * the service should receive `JSON` object and return a string decorated with your favorite emoji in the following manner:<br>
        ```sh<br>
           curl -XPOST -d'{"word":"evilmartian", "count": 3}' http://myvm.localhost/<br>
           💀evilmartian💀evilmartian💀evilmartian💀<br>

           curl -XPOST -d'{"word":"mice", "count": 5}' http://myvm.localhost/<br>
           🐘mice🐘mice🐘mice🐘mice🐘mice🐘<br>
        ```<br>
        * bonus points for being creative when serving `/`<br>

     <h4>Hints</h4>
      * [installing flask](https://flask.palletsprojects.com/en/1.1.x/installation/#installation)<br>
      * [become a developer](https://flask.palletsprojects.com/en/1.1.x/quickstart/)<br>
      * [or whatch some videos](https://www.youtube.com/watch?v=Tv6qXtc4Whs)<br>
      * [dealing with payloads](https://www.digitalocean.com/community/tutorials/processing-incoming-request-data-in-flask)<br>
      * [Flask documentation](https://flask.palletsprojects.com/en/1.1.x/api/#flask.Request.get_json)<br>
      * what would you expect to see when visiting a random unknown website?<br>

     <h4>The operating stage:</h4>
      * create an ansible playbook that deploys the service to the VM<br>
      * make sure all the components you need are installed and all the directories for the app are present<br>
      * configure systemd so that the application starts after reboot<br>
      * secure the VM so that our product is not stolen: allow connections only to the ports 22,80,443. Disable root login. <br>Disable all authentication methods except 'public keys'.
      * bonus points for SSL/HTTPS support with self-signed certificates<br>
      * bonus points for using ansible vault<br>

     <h4>Hints</h4>
      * task:verify<br>
      * iptables, sshd_config<br>
      * good luck! ¯\_(ツ)_/¯<br>
  </div>
{% endblock %}
